{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block content %}
<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a ><b>Password</b> Reset</a>
    </div>
  <!-- /.login-logo -->
    <div class="card">
    {% block inner %}
    {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

      <div class="card-body login-card-body">
        <p class="login-box-msg">
          {% blocktrans %} We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}
        </p>
      </div>
    {% endblock %}
    </div>
  </div>
</body>
{% endblock %}
