{% load static %}
<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link">
      <img src="{% static 'project/dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">Admin Dashboard</span>
    </a>

    <!-- Sidebar -->
    {% if request.user.is_admin %}
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{{ request.user.adminmodel.photo.url }}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="{% url 'users:dash' %}" class="d-block">{{ request.user.adminmodel.name }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-user-graduate"></i>
              <p>
                Student
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>

            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'students:student_signup' %}" class="nav-link">
                  <i class="fas fa-user-plus nav-icon"></i>
                  <p>Student Registration</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'users:show_list' %}" class="nav-link">
                  <i class="fas fa-list nav-icon"></i>
                  <p>Student List</p>
                </a>
              </li>
              {% comment %}
              <li class="nav-item">
                <a href="{% url 'students:search_student' %}" class="nav-link">
                  <i class="fas fa-search nav-icon"></i>
                  <p>Student Search</p>
                </a>
              </li>
              {% endcomment %}
            </ul>
          </li>

          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chalkboard-teacher"></i>
              <p>
                Teacher
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>

            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'teachers:signup' %}" class="nav-link">
                  <i class="fas fa-user-plus nav-icon"></i>
                  <p>Teacher Registration</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'teachers:list' %}" class="nav-link">
                  <i class="fas fa-list nav-icon"></i>
                  <p>Teacher List</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-envelope"></i>
              <p>
                Message
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>

            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'users:message' %}" class="nav-link">
                  <i class="fas fa-user-plus nav-icon"></i>
                  <p>Send Private Message</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'users:general_message' %}" class="nav-link">
                  <i class="fas fa-list nav-icon"></i>
                  <p>Send General Message</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'users:view_message' %}" class="nav-link">
                  <i class="fas fa-search nav-icon"></i>
                  <p>Sent Messages</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <!-- /.sidebar-menu -->

    {% elif request.user.is_teacher %}
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a href="{% url 'teachers:dash' %}" class="d-block">{{ request.user.teachermodel.name }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-user-graduate"></i>
              <p>
                Student
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>

            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'students:signup' %}" class="nav-link">
                  <i class="fas fa-user-plus nav-icon"></i>
                  <p>Student Registration</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'students:student_teacher_list' %}" class="nav-link">
                  <i class="fas fa-list nav-icon"></i>
                  <p>Student List</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chalkboard-teacher"></i>
              <p>
                Result
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>

            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'teachers:add_result' %}" class="nav-link">
                  <i class="fas fa-puzzle-piece nav-icon"></i>
                  <p>Add Result</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'teachers:promote' %}" class="nav-link">
                  <i class="fas fa-user-plus nav-icon"></i>
                  <p>Promote</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'teachers:show_result' %}" class="nav-link">
                  <i class="fas fa-puzzle-piece nav-icon"></i>
                  <p>Show Result</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-envelope"></i>
              <p>
                Message
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>

            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'teachers:message' %}" class="nav-link">
                  <i class="fas fa-envelope nav-icon"></i>
                  <p>Send Private Message</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'teachers:general_message' %}" class="nav-link">
                  <i class="fas fa-envelope nav-icon"></i>
                  <p>Send General Message</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'teachers:view_message' %}" class="nav-link">
                  <i class="fas fa-envelope-open nav-icon"></i>
                  <p>Sent Messages</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-envelope-square"></i>
              <p>
                Recieved Messages
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>

            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'teachers:view_admin_message' %}" class="nav-link">
                  <i class="fas fa-envelope-open-text nav-icon"></i>
                  <p>Private Messages</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'teachers:view_general_message' %}" class="nav-link">
                  <i class="fas fa-envelope-open-text nav-icon"></i>
                  <p>General Messages</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <!-- /.sidebar-menu -->

    {% elif request.user.is_student %}
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{{ request.user.studentmodel.photo.url }}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="{% url 'students:dash' %}" class="d-block">{{ request.user.studentmodel.name }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-user-graduate"></i>
              <p>
                Student
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>

            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'students:student_list' %}" class="nav-link">
                  <i class="fas fa-list nav-icon"></i>
                  <p>Student List</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chalkboard-teacher"></i>
              <p>
                Teacher
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>

            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'teachers:list' %}" class="nav-link">
                  <i class="fas fa-list nav-icon"></i>
                  <p>Teacher List</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-book-open"></i>
              <p>
                Result
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>

            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'students:show_result' %}" class="nav-link">
                  <i class="fas fa-puzzle-piece nav-icon"></i>
                  <p>Show Result</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-envelope"></i>
              <p>
                Message
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>

            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'students:message' %}" class="nav-link">
                  <i class="fas fa-user-plus nav-icon"></i>
                  <p>Private Messages</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'students:general_message' %}" class="nav-link">
                  <i class="fas fa-list nav-icon"></i>
                  <p>General Messages</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
      {% endif %}
    <!-- /.sidebar-menu -->
    <!-- /.sidebar -->
  </aside>
