{% load static %}
<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
          {% if request.user.is_admin %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:dash' %}"><i class="icon-speedometer"></i> Dashboard</a>
            </li>
          {% elif request.user.is_teacher %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'teachers:dash' %}"><i class="icon-speedometer"></i> Dashboard</a>
            </li>
          {% elif request.user.is_student %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'students:dash' %}"><i class="icon-speedometer"></i> Dashboard</a>
            </li>
          {% endif %}
            <!-- Administration Section Start -->

           <!-- Class Section END -->

            <!-- Student Section START -->
            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" href="#">
                 <i class="nav-icon icon-puzzle"></i>Student</a>
              <ul class="nav-dropdown-items">
               {% if request.user.is_teacher %}
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'students:signup' %}">
                         <i class="fa fa-plus-circle"></i>Student Registration</a>
                 </li>
               {% endif %}

               {% if request.user.is_admin %}
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'students:student_signup' %}">
                         <i class="fa fa-plus-circle"></i>Student Registration</a>
                 </li>
               {% endif %}

               {% if request.user.is_admin %}
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'students:list' %}">
                         <i class="fa fa-list"></i>Student List</a>
                 </li>
               {% endif %}
               {% if request.user.is_student %}
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'students:student_list' %}">
                         <i class="fa fa-list"></i>Student List</a>
                 </li>
               {% endif %}
               {% if request.user.is_teacher %}
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'students:student_teacher_list' %}">
                         <i class="fa fa-list"></i>Student List</a>
                 </li>
               {% endif %}

               {% if request.user.is_admin or request.user.is_teacher %}
                 <li class="nav-item">
                     <a class="nav-link" href="#">
                         <i class="fa fa-search-plus"></i>Student Search</a>
                 </li>
               {% endif %}
             </ul>
           </li>
           <!-- Student Section END -->


         <!-- Teacher Section START -->
          {% if request.user.is_admin  or request.user.is_student %}
            <li class="nav-item nav-dropdown">
             <a class="nav-link nav-dropdown-toggle" href="#">
                 <i class="nav-icon icon-puzzle"></i>Teacher</a>
             <ul class="nav-dropdown-items">
               {% if request.user.is_admin %}
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'teachers:signup' %}">
                         <i class="fa fa-plus-circle"></i>Teacher Registration</a>
                 </li>
               {% endif %}
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'teachers:list' %}">
                         <i class="fa fa-list"></i>Teacher List</a>
                 </li>
               {% if request.user.is_admin %}
                 <li class="nav-item">
                     <a class="nav-link" href="#">
                         <i class="fa fa-search-plus"></i>Teacher Search</a>
                 </li>
               {% endif %}
             </ul>
           </li>
          {% endif %}
      <!-- Holiday Section END -->

        <!-- Event Section START -->
          {% if request.user.is_teacher or request.user.is_student %}
          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
              <i class="nav-icon icon-puzzle"></i>Result</a>
            {% if request.user.is_teacher %}
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                 <a class="nav-link" href="{% url 'teachers:add_result' %}">
                     <i class="nav-icon icon-puzzle"></i>Add Result</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" href="{% url 'teachers:promote' %}">
                     <i class="nav-icon icon-puzzle"></i>Promote</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" href="{% url 'teachers:show_result' %}">
                     <i class="nav-icon icon-puzzle"></i>Show Result
                 </a>
              </li>
            </ul>
            {% endif %}
            {% if request.user.is_student %}
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'students:show_result' %}">
                  <i class="nav-icon icon-puzzle"></i>Show Result
                </a>
              </li>
            </ul>
            {% endif %}
          </li>
          {% endif %}
       <!-- Event Section END -->
          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
             <i class="nav-icon icon-puzzle"></i>Message</a>
            {% if request.user.is_teacher %}
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                 <a class="nav-link" href="{% url 'teachers:message' %}">
                     <i class="nav-icon icon-puzzle"></i>Send Private Message</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link text-nowrap" href="{% url 'teachers:general_message' %}">
                     <i class="nav-icon icon-puzzle"></i>Send General Message</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" href="{% url 'teachers:view_message' %}">
                     <i class="nav-icon icon-puzzle"></i>View Private Messages</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" href="{% url 'teachers:teacher_general_message' %}">
                     <i class="nav-icon icon-puzzle"></i>View General Messages</a>
              </li>
            </ul>
            {% endif %}
            {% if request.user.is_student %}
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                 <a class="nav-link" href="{% url 'students:message' %}">
                     <i class="nav-icon icon-puzzle"></i>Private Messages
                 </a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" href="{% url 'students:general_message' %}">
                     <i class="nav-icon icon-puzzle"></i>General Messages
                 </a>
              </li>
            </ul>
            {% endif %}
          </li>
          <!-- User-Manual Section START -->
          <li class="nav-item nav-dropdown">
            <a class="nav-link" href="#">
             <i class="nav-icon icon-puzzle"></i>User-Manual</a>
          </li>
          <!-- User-Manual Section END -->
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>

    {% block sidebar %}
    {% endblock %}
</div>
