{% extends 'college/college_base.html' %}
{% load static %}
{% block title %}Student: {{ request.user.student.college.college_name|slice:':20' }} {% endblock title %}
{% block student-content %}
    <main role="main" class="container-md">
        <div class="text-center">
            <img src="{% static 'images/classroom/video.png' %}" style="height:200px" class="img-fluid"
            alt="Photo of stacked books">
        </div>
        <br>

        {# Filter posts dropdown menu #}
        <div class="input-group-prepend float-right">
            <label for="subjectfilter"></label>
            <select class="form-control btn-warning" id="subjectfilter">
                <option class="subject-options" value="all">All subjects</option>
                {% if subjects %}
                    {% for subject in subjects %}
                        <option class="subject-options" value="{{ subject.name }}">{{ subject.name }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
        <br>
        <br>
        <hr>

        <div class="container" id="teacher-feed">

            {# Posts #}
            {% for post in posts_display %}
                <div class="card {{ post.post.subject }}">
                    <div class="card-header"{% if post.video_url or post.document_url or post.image_url %}style="background-color: #ffac81; background-image: linear-gradient(315deg, #ffac81 0%, #ff928b 74%); color: white"{% elif post.post.is_classtest or post.post.is_assignment %}style="background-color: red;"{% else %}style="background-color: #5de6de; background-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%); color: white" {% endif %}>
                        <h3 class="card-title text-white"> {{ post.post.title | capfirst }} <span class="text-muted"> </span></h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool text-white">
                            {% if post.post.is_assignment %}
                                <i class="fas fa-moon text-white"></i>
                            {% endif %}

                            <input type="hidden" value="{{ post.post.pk }}">
                            </button>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <div class="card-body">
                        {% if post.body %}
                            <p class="card-text">{{ post.body }}</p>
                            {% if post.video_url %}
                                <video class="post-media seperate" width="320" height="240" controls>
                                    <source src="{{ post.get_media_url }}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            {% endif %}
                        {% elif post.youtube_link %}
                            <iframe class="post-media seperate" src="{{ post.youtube_link }}" allowfullscreen></iframe>
                        {% endif %}

                        <small class="text-gray" style="display: block; margin-top: 12px; margin-bottom: 15px;">
                            Posted on: {{ post.post.date }}
                        </small>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>

    <script type="text/javascript">
        if (!document.getElementById('student-videos-link').classList.contains('active')) {
            document.getElementById('student-videos-link').classList.add('active');
        }
    </script>
{% endblock student-content %}

{% block college-student-script %}
    <script type="text/javascript" src="{% static 'js/student_classroom.js' %}"></script>
{% endblock college-student-script %}
