{% load static i18n compress %} <!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="#">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Schoolz{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Behold My Awesome Project!">
    <meta name="author" content="Favour Gilead">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <link rel="icon" href="{% static 'result/logo.jfif' %}">

    {% block css %}

    <!-- Latest compiled and minified Bootstrap CSS -->
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

    <!-- Your stuff: Third-party CSS libraries go here -->
    {% compress css %}
    <!-- This file stores project-specific CSS -->

    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    <!-- <link href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">-->
    <link href="{% static 'project/dist/css/adminlte.min.css' %}" rel="stylesheet" >

    {% endcompress %}
    {% endblock %}

  </head>

    {% block content %}
      <!--Preloader-->
      <div id="preloader">
        <div class=" grow grow-1 text-info" role="status" >
          <span class="sr-only">Loading....</span>
        </div>
        <div class="loader loader-1" role="status">
          <span class="sr-only" >Loading....</span>
        </div>
        <div class="text-danger grow grow-1" role="status">
          <span class="sr-only">Loading....</span>
        </div>
      </div>
    {% endblock %}


    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}

      <!-- Bootstrap JS and its dependencies-->
      <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
      <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
      <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->

      <!-- Your stuff: Third-party javascript libraries go here -->

      <!-- place project specific Javascript in this file -->
      {% compress js %}
        <script src="{% static 'project/plugins/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'project/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'project/dist/js/adminlte.min.js' %}"></script>
      {% endcompress %}

      <script>
        $(window).on("load", function (){
          $('#preloader').fadeOut();
        })
      </script>
      <script>
        $(document).ready(function () {
          $("button").on("click", function () {
            if ($(this).attr("type") == "submit"){
              $(this).prop("disabled", true);
              $(this).html(`<span class="spinner-border spinner-border-sm" aria-disabled="true"></span> Loading...`);
              $(this).parent().closest('form').submit();
            }
          });
        })
      </script>
    {% endblock javascript %}

</html>
