{% extends 'base/base.html' %}
{% block title %} School Management System {% endblock title %}

{% block content %}
{% comment %} Display Messages {% endcomment %}
 {% if messages %}
   <div class="form-group">
     <div class="col-12">
       {% for message in messages %}
       {% if message.tags == "error" %}
           <div class="alert alert-default-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
           {{ message }}
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
           </button>
           </div>
       {% elif message.tags == "success" %}
           <div class="alert alert-default-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
           {{ message }}
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
           </button>
           </div>
       {% endif %}
       {% endfor %}
     </div>
   </div>
 {% endif %}
<marquee behavior="" direction="">Welcome To Student Management System</marquee>
<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-6 col-12">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{ student }}</h3>
            <p>Total Student in Section</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="{% url 'users:show_list' %}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h3>{{ teacher }}</h3>
            <p>Total Teacher</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="{% url 'teachers:list' %}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>
</div>
{% endblock %}
