{% extends 'base/base.html' %}
{% block title %} Admin Profile {% endblock title %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <div class="row">
        <img style="height:200px; width:200px; border-radius:50%; margin:auto" src="{{ admin.adminmodel.get_photo_url }}" alt="Photo">
      </div>
    </div>
    <div class="card-body">

      <div class="personal_information">
        <div class="row">
          <h2 class="mx-auto">Admin Information</h2>
        </div>
        <hr>
        <div class="row">
          <div style="font-size:24px; margin-left: 30px">
            {% if user == admin %}
              <p>Username                : <span class="mx-4">{{ admin.username }}</span></p>
            {% endif %}
            <p>Name                    : <span class="mx-4">{{ admin.adminmodel.name }}</span></p>
            <p>Date of Birth           : <span class="mx-4">{{ admin.adminmodel.date_of_birth }}</span></p>
            <p>Section                 : <span class="mx-4">{{ admin.adminmodel.section }}</span></p>
            <p>Mobile No               : <span class="mx-4">{{ admin.adminmodel.mobile }}</span></p>
            <p>Email                   : <span class="mx-4">{{ admin.adminmodel.email }}</span></p>
            <p>Joining Date            : <span class="mx-4">{{ admin.adminmodel.joining_date }}</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
