{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} Admin {% endblock %}

{% load i18n %}


{% block content %}
<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a><b>Admin</b> Signup</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
         <p class="login-box-msg">{% trans 'Register an Admin.' %}</p>
         <form class="form-horizontal" method="post" enctype="multipart/form-data" action="">
           {% csrf_token %}
           {{ form|crispy }}
           <div class="control-group">
             <div class="controls">
               <button type="submit" class="btn btn-secondary">Sign Up</button>
             </div>
           </div>
         </form>
      </div>
    </div>
  </div>
</body>
{% endblock %}
