{% extends 'base/base.html' %}
{% load static %}
{% block title %} School Management System {% endblock title %}

{% block content %}
{% comment %} Display Messages {% endcomment %}
 {% if messages %}
   <div class="form-group">
     <div class="col-12">
       {% for message in messages %}
       {% if message.tags == "error" %}
           <div class="alert alert-default-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
           {{ message }}
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
           </button>
           </div>
       {% elif message.tags == "success" %}
           <div class="alert alert-default-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
           {{ message }}
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
           </button>
           </div>
       {% endif %}
       {% endfor %}
     </div>
   </div>
 {% endif %}
<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-3 col-12">
        <!-- small box -->
        <div class="small-box" style="background-color: #f6b0d0; color: #8c68ce">
          <div class="inner">
            <h3>{{ student }}</h3>
            <p>Student in {{ request.user.adminmodel.section }}</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="{% url 'users:show_list' %}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-12">
        <!-- small box -->
        <div class="small-box" style="background-color: #00ff80; color: #1c7430">
          <div class="inner">
            <h3>{{ teacher }}</h3>
            <p>Class Teacher in {{ request.user.adminmodel.section }} </p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="{% url 'teachers:list' request.user.adminmodel.section.sections %}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-12">
        <!-- small box -->
        <div class="small-box" style="background-color: #f8bb86; color: #fc5f1c">
          <div class="inner">
            <h3>{{ other_students }}</h3>
            <p>Student in {{ spectre }}</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <p class="small-box-footer"> <i class="fa fa-puzzle-piece"></i></p>
        </div>
      </div>
      <div class="col-lg-3 col-12">
        <!-- small box -->
        <div class="small-box" style="background-color: #7fc9fb; color: #005ebf">
          <div class="inner">
            <h3>{{ other_teachers }}</h3>
            <p>Class Teacher in {{ spectre }}</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="{% url 'teachers:list' spectre %}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-12">
        <!-- DONUT CHART -->
        <div class="card">
          <div class="card-header text-white" style="background-color: #f6b0d0;">
            <h3 class="card-title"> Paid {{ request.user.adminmodel.section }} Student Chart</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool text-white" data-card-widget="collapse"><i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool text-white" data-card-widget="remove"><i class="fas fa-times"></i></button>
            </div>
          </div>
          <div class="card-body">
            <canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <div class="col-lg-6 col-12">
        <!-- DONUT CHART -->
        <div class="card">
          <div class="card-header text-white" style="background-color: #f8bb86">
            <h3 class="card-title">Paid {{ spectre }} Student Chart</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool text-white" data-card-widget="collapse"><i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool text-white" data-card-widget="remove"><i class="fas fa-times"></i></button>
            </div>
          </div>
          <div class="card-body">
            <canvas id="donutChart2" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
</div>
{% endblock %}

{% block script %}
  <script src="{% static 'project/plugins/chart.js/Chart.min.js' %}"></script>
  <script>
  $(document).ready(function () {

    $(function () {
          //- DONUT CHART -
      //-------------
      // Get context with jQuery - using jQuery's .get() method.
      var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
      var donutData        = {
        labels: [
            'Paid',
            'Not Paid',
        ],
        datasets: [
          {
            data: [{{ paid_students }}, {{ unpaid }}],
            backgroundColor : ['#7fc9fb', '#fc5f1c'],
          }
        ]
      }
      var donutOptions     = {
        maintainAspectRatio : false,
        responsive : true,
      }
      //Create pie or doughnut chart
      // You can switch between pie and douhnut using the method below.
      var donutChart = new Chart(donutChartCanvas, {
        type: 'doughnut',
        data: donutData,
        options: donutOptions
      });

          //- DONUT CHART -
      //-------------
      // Get context with jQuery - using jQuery's .get() method.
      var donutChartCanvas2 = $('#donutChart2').get(0).getContext('2d')
      var donutData2        = {
        labels: [
            'Paid',
            'Not Paid',
        ],
        datasets: [
          {
            data: [{{ paid_other }}, {{ unpaid_other }}],
            backgroundColor : ['#7fc9fb', '#fc5f1c'],
          }
        ]
      }
      var donutOptions2     = {
        maintainAspectRatio : false,
        responsive : true,
      }
      //Create pie or douhnut chart
      // You can switch between pie and douhnut using the method below.
      var donutChart2 = new Chart(donutChartCanvas2, {
        type: 'doughnut',
        data: donutData2,
        options: donutOptions2
      });
    });
  });
  </script>
{% endblock script %}
