{% extends 'base/base.html' %}
{% load static %}
{% block title %} Search {% endblock title %}
{% block staticcss %}
  <script src="{% static 'project/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}"></script>
{% endblock staticcss %}
{% block extracss %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/css/dataTables.bootstrap4.min.css" integrity="sha512-4o2NtfcBGIT0SbOTpWLYovl07cIaliKIQpUXvEPvyOgBF/01xY1TXm5F1B+X48/zhhFLIw2oBTsE0rjcwEOwJQ==" crossorigin="anonymous" />
{% endblock extracss %}
{% block content %}
  <div class="animated fadeIn">
      <div class="card">
          {% if messages %}
            <div class="form-group">
              <div class="col-12">
                {% for message in messages %}
                {% if message.tags == "error" %}
                    <div class="alert alert-default-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                {% elif message.tags == "success" %}
                    <div class="alert alert-default-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                {% endif %}
                {% endfor %}
              </div>
            </div>
          {% endif %}
          <div class="card-header">
            <h3 class="card-title"> Codes for Result </h3>
            <div class="card-tools text-gray">
              <button type="button" class="btn btn-tool text-gray" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
            </div>
            <!-- /.card-tools -->
          </div>
        {% with codes=codes %}
          {% if codes %}
          <div class="card-body">
            <table id="code" class="table table-hover table-striped table-bordered">
                <thead>
                    <tr class="text-gray-dark">
                        <th>Id</th>
                        <th>Code</th>
                    </tr>
                </thead>
                <tbody>
                  {% for code in codes %}
                    <tr class="text-gray">
                        <td>{{ code.number }}</td>
                        <td>{{ code.uuid }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
          </div>
          {% else %}
          <div class="card-body">
              <h3>Nothing Found</h3>
          </div>
          {% endif %}
        {% endwith %}
      </div>
  </div>
{% endblock %}
{% block script %}
<script src="{% static 'project/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
{% endblock script %}
{% block writescript %}
<!-- DataTables -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/jquery.dataTables.min.js" integrity="sha512-hX6rgGqXX6Ajh6Y+bZ+P/0ZkUBl3fQMY6I1B51h5NDOu7XE1lVgdf2VqygjozLX8AufHvWAzOuC0WVMb4wJX4w==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/dataTables.bootstrap4.min.js" integrity="sha512-T970v+zvIZu3UugrSpRoyYt0K0VknTDg2G0/hH7ZmeNjMAfymSRoY+CajxepI0k6VMFBXxgsBhk4W2r7NFg6ag==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables-responsive/2.2.3/dataTables.responsive.min.js" integrity="sha512-naOcVQyv76gYEkC4g/L6b9qFZJimq0gkU4SdxbXbhDDDlXMJn2ipgGzEQRdSWwwq2sh3FO7HA+d6Rh+HfWRXyQ==" crossorigin="anonymous"></script>
<!-- page script -->
<script>
  $(function () {
    $("#code").DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": false,
      "ordering": false,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
{% endblock writescript %}
