{% extends 'college/college_base.html' %}
{% load static %}
{% block title %}
 View Post
{% endblock title %}
{% block teacher-content %}
    <main role="main" class="container-md">
        <div class="float-left">
            <button type="button" class="btn btn-warning" onclick="window.history.back();">
                < Go back
            </button>
        </div>
        <br><br>
        <br><br>

        <div class="card posts {{ textpost.post.subject }}">
            <div class="card-header"{% if post.video_url or post.document_url or post.image_url %}style="background-color: #ffac81; background-image: linear-gradient(315deg, #ffac81 0%, #ff928b 74%); color: white"{% elif textpost.post.is_classtest or textpost.post.is_assignment %}style="background-color: red;"{% else %}style="background-color: #5de6de; background-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%); color: white" {% endif %}>
              <h3 class="card-title text-white"> {{ textpost.post.title | capfirst }} <span class="text-muted"> </span></h3>
              <div class="card-tools">
                  <button type="button" class="btn btn-tool text-white">
                  {% if textpost.post.is_classtest %}
                      <i class="fas fa-star text-white"></i>
                  {% elif textpost.post.is_assignment %}
                      <i class="fas fa-moon text-white"></i>
                  {% endif %}</i>
                  </button>
                  {% if textpost.post.teacher == request.user.teachermodel %}
                        <button type="button" class="btn btn-tool btn-outline-warning text-white post-delete-btn">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    {% endif %}
                    <input type="hidden" value="{{ post.post.slug }}">
              </div>
              <!-- /.card-tools -->
            </div>
            <div class="card-body">
                <p class="text-gray" style="font-family:Georgia"><strong>Subject:</strong> {{ textpost.post.subject | capfirst }}</p>
                <p class="card-text">{{ textpost.body | capfirst }}</p>
                <small style="display:block; margin-top: 15px;" class="text-gray">
                    Posted on: {{ textpost.post.date }}
                </small>
            </div>
        </div>
    </main>
{% endblock teacher-content %}

{% block student-content %}
    <main role="main" class="container-md">
        <div class="float-left">
            <button type="button" class="btn btn-warning text-white" onclick="window.history.back();">
                <i class="fas fa-arrow-left text-white"></i> Go back
            </button>
        </div>
        <br><br>
        <br><br>

        <div class="card posts {{ textpost.post.subject }}">
                      <div class="card-header"{% if post.video_url or post.document_url or post.image_url %}style="background-color: #ffac81; background-image: linear-gradient(315deg, #ffac81 0%, #ff928b 74%); color: white"{% elif textpost.post.is_classtest or textpost.post.is_assignment %}style="background-color: red;"{% else %}style="background-color: #5de6de; background-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%); color: white" {% endif %}>
                        <h3 class="card-title text-white" style="word-spacing: 3rem !important;"> {{ textpost.post.title | capfirst }} <span class="text-muted"> </span></h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool text-white">
                            {% if textpost.post.is_classtest %}
                                <i class="fas fa-star text-white"></i>
                            {% elif textpost.post.is_assignment %}
                                <i class="fas fa-moon text-white"></i>
                            {% endif %}</i>
                            </button>
                        </div>
                        <!-- /.card-tools -->
                      </div>
            <div class="card-body">
                <p class="text-gray" style="font-family:Georgia"><strong>Subject:</strong> {{ textpost.post.subject | capfirst }}</p>
                <p class="card-text">{{ textpost.body | capfirst }}</p>
                <small style="display:block; margin-top: 15px;" class="text-gray">
                    Posted on: {{ textpost.post.date }}
                </small>
            </div>
        </div>
    </main>
{% endblock student-content %}
