{% extends 'base/base.html' %}
{% block title %} Student List {% endblock title %}

{% block content %}
  <div class="animated fadeIn">
      <div class="card">
          <div class="card-header">
              <h3 class="card-title"> Student Tables </h3> <div class="card-tools"><i class="fa fa-edit"></i></div>
          </div>
        {% comment %} Display Messages {% endcomment %}
            {% if messages %}
              <div class="form-group">
                <div class="col-12">
                  {% for message in messages %}
                  {% if message.tags == "error" %}
                      <div class="alert alert-default-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                      {{ message }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                      </div>
                  {% elif message.tags == "success" %}
                      <div class="alert alert-default-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                      {{ message }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                      </div>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          {% if student %}
          <div class="card-body table-responsive p-0">
             <table class="table table-hover text-nowrap table-striped table-bordered">
                 <thead>
                     <tr>
                       <th>Id</th>
                       <th>Name</th>
                       <th>Class</th>
                       <th>Sub class</th>
                       <th>Mobile number</th>
                       <th>Date of Birth</th>
                       <th>Profile</th>
                       <th>Update</th>
                       <th>Delete</th>
                     </tr>
                 </thead>
                 <tbody>
                 {% if request.user.is_admin %}
                   {% for students in student %}
                       <tr>
                           <td>{{ forloop.counter }}</td>
                           <td>{{ students.name }}</td>
                           <td>{{ students.class_name }}</td>
                           <td>{{ students.sub_class }}</td>
                           <td>{{ students.emergency_mobile_number }}</td>
                           <td>{{ students.date_of_birth }}</td>
                           <td>
                               <a class="btn btn-success" href="{% url 'students:profile' students.uuid %}">
                                   <i class="fa fa-search-plus"></i>
                               </a>
                           </td>
                            <td>
                               <a class="btn btn-info" href="{% url 'students:update' students.uuid %}">
                                   <i class="fa fa-edit"></i>
                               </a>
                            </td>
                            <td>
                               <a class="btn btn-danger" href="{% url 'students:delete' students.uuid %}">
                                   <i class="fa fa-trash"></i>
                               </a>
                            </td>
                       </tr>
                   {% endfor %}
                 {% else %}
                   <h3> Hello What are you looking for ?</h3>
                 {% endif %}
                 </tbody>
             </table>
          </div>
          {% else %}
          <div class="card-body">
              <h3>No Student Found</h3>
          </div>
          {% endif %}
      </div>
  </div>
{% endblock %}
