{% extends 'base/base.html' %}
{% block title %} Input pin {% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
<div class="card">
      <div class="card-body login-card-body">
        {% comment %} Display Messages {% endcomment %}
            {% if messages %}
              <div class="form-group">
                <div class="col-12">
                  {% for message in messages %}
                  {% if message.tags == "error" %}
                      <div class="alert alert-default-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                      {{ message }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                      </div>
                  {% elif message.tags == "success" %}
                      <div class="alert alert-default-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                      {{ message }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                      </div>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            {% endif %}
        <h5 class="login-box-msg">Input Pin</h5>
          <form method="post" action="">
            {% csrf_token %}
            <div class="form-group">
                <label for="pin"> Pin </label>
                <input class="form-control" placeholder="Pin" name="pin" id="pin" required/>
              </div>
            <button class="btn btn-danger btn-block" type="submit">Submit</button>
          </form>
      </div>
</div>
{% endblock %}
