{% extends 'base/base.html' %}
{% load static %}
{% block title %} Search {% endblock title %}
{% block staticcss %}
  <script src="{% static 'project/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}"></script>
{% endblock staticcss %}
{% block extracss %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/css/dataTables.bootstrap4.min.css" integrity="sha512-4o2NtfcBGIT0SbOTpWLYovl07cIaliKIQpUXvEPvyOgBF/01xY1TXm5F1B+X48/zhhFLIw2oBTsE0rjcwEOwJQ==" crossorigin="anonymous" />
{% endblock extracss %}
{% block content %}
  <div class="animated fadeIn">
      <div class="card">
          {% if messages %}
            <div class="form-group">
              <div class="col-12">
                {% for message in messages %}
                {% if message.tags == "error" %}
                    <div class="alert alert-default-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                {% elif message.tags == "success" %}
                    <div class="alert alert-default-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                {% endif %}
                {% endfor %}
              </div>
            </div>
          {% endif %}
          <div class="card-header">
            <h3 class="card-title"> Search </h3>
            <div class="card-tools text-gray">
              <button type="button" class="btn btn-tool text-gray" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
            </div>
            <!-- /.card-tools -->
          </div>
        {% with students=students %}
        {% with teachers=teachers %}
          {% if students or teachers %}
          <div class="card-body table-responsive">
            <table id="search" class="table table-hover table-striped table-bordered text-nowrap">
                <thead>
                    <tr class="text-gray-dark">
                        <th>Id</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Class</th>
                        <th>Sub class</th>
                        <th>Profile</th>
                    </tr>
                </thead>
                <tbody>
                  {% if students %}
                    {% for students in students %}
                      <tr class="text-gray">
                          <td>{{ forloop.counter }}</td>
                          <td>{{ students.name }}</td>
                          <td> Student </td>
                          <td>{{ students.class_name.class_name }}</td>
                          <td>{{ students.sub_class.sub_class }}</td>
                          <td>
                              <a class="btn btn-success" style="background-color: #00da5f; color: white" href="{% url 'students:profile' students.uuid %}">
                                  <i class="fa fa-search-plus"></i>
                              </a>
                          </td>
                      </tr>
                    {% endfor %}
                  {% endif %}
                  {% if teachers %}
                    {% for teacher in teachers %}
                      <tr class="text-gray">
                          <td>{{ forloop.counter }}</td>
                          <td>{{ teacher.name }}</td>
                          <td> Teacher </td>
                          <td>{{ teacher.class_name.class_name }}</td>
                          <td>{{ teacher.sub_class.sub_class }}</td>
                          <td>
                              <a class="btn" style="background-color: #00da5f; color: white" href="{% url 'teachers:profile' teacher.uuid %}">
                                  <i class="fa fa-search-plus"></i>
                              </a>
                          </td>
                      </tr>
                    {% endfor %}
                  {% endif %}
                </tbody>
            </table>
          </div>
          {% else %}
          <div class="card-body">
              <h3>Nothing Found</h3>
          </div>
          {% endif %}
        {% endwith %}
        {% endwith %}
      </div>
  </div>
{% endblock %}
{% block script %}
<script src="{% static 'project/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
{% endblock script %}
{% block writescript %}
<!-- DataTables -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/jquery.dataTables.min.js" integrity="sha512-hX6rgGqXX6Ajh6Y+bZ+P/0ZkUBl3fQMY6I1B51h5NDOu7XE1lVgdf2VqygjozLX8AufHvWAzOuC0WVMb4wJX4w==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/dataTables.bootstrap4.min.js" integrity="sha512-T970v+zvIZu3UugrSpRoyYt0K0VknTDg2G0/hH7ZmeNjMAfymSRoY+CajxepI0k6VMFBXxgsBhk4W2r7NFg6ag==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables-responsive/2.2.3/dataTables.responsive.min.js" integrity="sha512-naOcVQyv76gYEkC4g/L6b9qFZJimq0gkU4SdxbXbhDDDlXMJn2ipgGzEQRdSWwwq2sh3FO7HA+d6Rh+HfWRXyQ==" crossorigin="anonymous"></script>
<!-- page script -->
<script>
  $(function () {
    $("#search").DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": false,
      "ordering": false,
      "info": true,
      "autoWidth": false,
      "responsive": false,
    });
  });
</script>
{% endblock writescript %}
