{% extends 'base/base.html' %}
{% block title %} Search {% endblock title %}

{% block content %}
  <div class="animated fadeIn">
      <div class="card">
          {% if messages %}
            <div class="form-group">
              <div class="col-12">
                {% for message in messages %}
                {% if message.tags == "error" %}
                    <div class="alert alert-default-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                {% elif message.tags == "success" %}
                    <div class="alert alert-default-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                {% endif %}
                {% endfor %}
              </div>
            </div>
          {% endif %}
          <div class="card-header">
            <h3 class="card-title"> Search </h3>
            <div class="card-tools text-gray">
              <button type="button" class="btn btn-tool text-gray" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
            </div>
            <!-- /.card-tools -->
          </div>
        {% with students=students %}
        {% with teachers=teachers %}
          {% if students or teachers %}
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap table-striped table-bordered">
                <thead>
                    <tr class="text-gray-dark">
                        <th>Id</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Class</th>
                        <th>Sub class</th>
                        <th>Profile</th>
                    </tr>
                </thead>
                <tbody>
                {% if students %}
                  {% for students in students %}
                      <tr class="text-gray">
                          <td>{{ forloop.counter }}</td>
                          <td>{{ students.name }}</td>
                          <td> Student </td>
                          <td>{{ students.class_name.class_name }}</td>
                          <td>{{ students.sub_class.sub_class }}</td>
                          <td>
                              <a class="btn btn-success" style="background-color: #00da5f; color: white" href="{% url 'students:profile' students.uuid %}">
                                  <i class="fa fa-search-plus"></i>
                              </a>
                          </td>
                      </tr>
                  {% endfor %}
                {% endif %}
                  {% if teachers %}
                    {% for teacher in teachers %}
                      <tr class="text-gray">
                          <td>{{ forloop.counter }}</td>
                          <td>{{ teacher.name }}</td>
                          <td> Teacher </td>
                          <td>{{ teacher.class_name.class_name }}</td>
                          <td>{{ teacher.sub_class.sub_class }}</td>
                          <td>
                              <a class="btn" style="background-color: #00da5f; color: white" href="{% url 'teachers:profile' teacher.uuid %}">
                                  <i class="fa fa-search-plus"></i>
                              </a>
                          </td>
                      </tr>
                  {% endfor %}
                {% endif %}
                </tbody>
            </table>
          </div>
          {% else %}
          <div class="card-body">
              <h3>Nothing Found</h3>
          </div>
          {% endif %}
        {% endwith %}
        {% endwith %}
      </div>
  </div>
{% endblock %}
