{% extends 'base/base.html' %}
{% block title %} Student List {% endblock title %}

{% block content %}
  <div class="animated fadeIn">
      <div class="card">
          <div class="card-header" style="background-color: #f8ceec; background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%)">
              <h3 class="card-title text-white"> Student Table </h3> <div class="card-tools text-white"><i class="fa fa-edit"></i></div>
          </div>
          <div id="messages">
            {% if messages %}
                <div class="form-group">
                  <div class="col-12">
                    {% for message in messages %}
                    {% if message.tags == "error" %}
                        <div class="alert alert-default-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                    {% elif message.tags == "success" %}
                        <div class="alert alert-default-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                    {% endif %}
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
            </div>
          {% if students %}
          <div class="card-body table-responsive p-0">
             <table class="table table-hover text-nowrap table-striped table-bordered">
                 <thead>
                     <tr class="text-gray-dark">
                         <th>Id</th>
                         <th>Name</th>
                         <th>Mobile number</th>
                         <th>Profile</th>
                         <th>Update</th>
                         <th>Paid</th>
                     </tr>
                 </thead>
                 <tbody>
                   {% for students in students %}
                       <tr class="text-gray">
                            <td>{{ forloop.counter }}</td>
                            <td>{{ students.name }}</td>
                            <td>{{ students.emergency_mobile_number }}</td>
                            <td>
                               <a class="btn" style="background-color: #00da5f; color: white" href="{% url 'students:profile' students.uuid %}">
                                   <i class="fa fa-search-plus"></i>
                               </a>
                            </td>
                            {% if request.user.is_teacher %}
                            <td>
                               <a class="btn" style="background-color: #7fc9fb; color: white" href="{% url 'students:updates' students.uuid %}">
                                   <i class="fa fa-edit"></i>
                               </a>
                            </td>
                            <td>
                                {% csrf_token %}
                                <div class="form-group">
                                  <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                    <input type='checkbox' {% if students.paid == True %} checked {% else %} {% endif %} name='{{ students.name }}' class='custom-control-input' id="{{ students.pk }}"/>
                                    <label class="custom-control-label" for="{{ students.pk }}"> Have Paid? </label>
                                  </div>
                                </div>
                            </td>
                         {% endif %}
                       </tr>
                   {% endfor %}
                 </tbody>
             </table>
          </div>
          {% else %}
          <div class="card-body">
              <h3>No Student Found</h3>
          </div>
          {% endif %}
      </div>
    {% if inactive %}
      <div class="card">
        <div class="card-header" style="background-color: #5de6de; background-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%); color: white">
          <h3 class="card-title"> Recently Promoted Student Table </h3> <div class="card-tools"><i class="fa fa-edit"></i></div>
        </div>
<!--        <div class="card-header table-responsive">-->
<!--          <table class="table text-nowrap table-bordered">-->
<!--              <thead>-->
<!--                  <tr role="row">-->
<!--                      <th>Help</th>-->
<!--                  </tr>-->
<!--              </thead>-->
<!--              <tbody>-->
<!--                  <tr>-->
<!--                      <td class="text-muted" style="font-size: small"> This is the list of students that have just been promoted or have changed classes. Students in this list will not appear to be promoted till they are confirmed active.</td>-->
<!--                  </tr>-->
<!--              </tbody>-->
<!--          </table>-->
<!--        </div>-->
        <div class="card-body table-responsive p-0">
           <table class="table table-hover text-nowrap table-striped table-bordered">
               <thead>
                   <tr class="text-gray-dark">
                       <th>Id</th>
                       <th>Name</th>
                       <th>Mobile number</th>
                       <th>Profile</th>
                       <th>Make Active</th>
                   </tr>
               </thead>
               <tbody>
                 {% for student in inactive %}
                     <tr class="text-gray">
                          <td>{{ forloop.counter }}</td>
                          <td>{{ student.name }}</td>
                          <td>{{ student.emergency_mobile_number }}</td>
                          <td>
                             <a class="btn" style="background-color: #00da5f; color: white" href="{% url 'students:profile' student.uuid %}">
                                 <i class="fa fa-search-plus"></i>
                             </a>
                          </td>
                          {% if request.user.is_teacher %}
                          <td>
                             <a class="btn" style="background-color: #7fc9fb; color: white" href="{% url 'students:active' student.uuid %}">
                                 <i class="fa fa-user"></i>
                             </a>
                          </td>
                       {% endif %}
                     </tr>
                 {% endfor %}
               </tbody>
           </table>
        </div>
        {% endif %}
      </div>
  </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            {# To send a request back to the backend for appopriate changing of the status of field Paid #}
            $("input[type='checkbox']").change(function () {
                let value = '';
                ($(this).is(":checked")) ? value = "True" : value = "False" ;
                let name = $(this).attr("name");
                let primary_key = $(this).attr("id")
                $.ajax({
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': $("input[name='csrfmiddlewaretoken']").val(),
                    },
                    url: "{% url 'students:payment' %}",
                    data: {
                        'name': name,
                        'value': value,
                        'primary_key': primary_key,
                    },
                    success: function (data) {
                        $("#messages").html(data);
                    }
                });
            });
        });
    </script>
{% endblock script %}
