<head>
  <title> Students List </title>
</head>
{% extends 'base/base.html' %}
{% load static %}

{% block content %}
  <div class="animated fadeIn">
      <div class="card">
          <div class="card-header">
            <i class="fa fa-edit"></i><b> Students In Class </b>
          </div>
        {% with students=students %}
          {% if students %}
          <div class="card-body">
              <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                  <div class="row">
                      <div class="col-sm-12">
                          <table class="table table-striped table-responsive table-bordered datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="border-collapse: collapse !important">
                              <thead>
                                  <tr role="row">
                                      <th>Id</th>
                                      <th>Name</th>
                                      <th>Class</th>
                                      <th>Sub class</th>
                                  </tr>
                              </thead>
                              <tbody>
                                {% for students in students %}
                                    <tr role="row" class="odd">
                                        <td>{{ forloop.counter }}</td>
                                        <td><a class="btn btn-success" href="{% url 'students:profile' students.uuid %}">{{ students.name }}</a></td>
                                      <td>{{ students.class_name.class_name }}</td>
                                      <td>{{ students.sub_class.sub_class }}</td>
                                    </tr>
                                {% endfor %}
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          {% else %}
          <div class="card-body">
              <h3>No Student Found</h3>
          </div>
          {% endif %}
        {% endwith %}
      </div>
  </div>
{% endblock %}
