{% extends 'base/base.html' %}
{% block title %} Student List {% endblock title %}

{% block content %}
  <div class="animated fadeIn">
      <div class="card">
          <div class="card-header">
              <h3 class="card-title"> Student Tables </h3> <div class="card-tools"><i class="fa fa-edit"></i></div>
          </div>
          {% if students %}
          <div class="card-body table-responsive p-0">
             <table class="table table-hover text-nowrap table-striped table-bordered">
                 <thead>
                     <tr>
                         <th>Id</th>
                         <th>Name</th>
                         <th>Mobile number</th>
                         <th>Profile</th>
                         <th>Update</th>
                     </tr>
                 </thead>
                 <tbody>
                   {% for students in students %}
                       <tr>
                           <td>{{ forloop.counter }}</td>
                           <td>{{ students.name }}</td>
                           <td>{{ students.emergency_mobile_number }}</td>
                           <td>
                               <a class="btn btn-success" href="{% url 'students:profile' students.uuid %}">
                                   <i class="fa fa-search-plus"></i>
                               </a>
                           </td>
                          {% if request.user.is_teacher %}
                           <td>
                               <a class="btn btn-info" href="{% url 'students:updates' students.uuid %}">
                                   <i class="fa fa-edit"></i>
                               </a>
                           </td>
                         {% endif %}
                       </tr>
                   {% endfor %}
                 </tbody>
             </table>
          </div>
          {% else %}
          <div class="card-body">
              <h3>No Student Found</h3>
          </div>
          {% endif %}
      </div>
  </div>
{% endblock %}
