{% extends 'base/base.html' %}
{% load static %}
{% block title %} Dashboard {% endblock title %}

{% block content %}
{% comment %} Display Messages {% endcomment %}
 {% if messages %}
   <div class="form-group">
     <div class="col-12">
       {% for message in messages %}
       {% if message.tags == "error" %}
           <div class="alert alert-default-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
           {{ message }}
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
           </button>
           </div>
       {% elif message.tags == "success" %}
           <div class="alert alert-default-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
           {{ message }}
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
           </button>
           </div>
       {% endif %}
       {% endfor %}
     </div>
   </div>
 {% endif %}

    <div class="box">
      <img id="book" src="{% static 'images/books.png' %}" class="img-fluid"
        alt="Photo of stacked books">
      <div>
      <h1 class="text colorbluesapphire text-center">
            {% for i in sub_class %}
                {{ i.class_name__class_name }}
            {% endfor %}
      </h1>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-lg-6 col-12">
        <!-- small box -->
        <div class="small-box bg-gradient-purple">
          <div class="inner">
            <h3 class="count">{{ student }}</h3>
            <p>Total Student in Class</p>
          </div>
          <div class="icon" style="display:block;">
            <i class="fas fa-user-graduate "></i>
          </div>
          <a href="{% url 'students:student_list' %}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      {% with teacher=teachers %}
      {% for teachers in teacher %}
      <div class="col-lg-6 col-12">
        <!-- small box -->
        <div class="small-box bg-gradient-success">
          <div class="inner">
            <h3> Mr {{ teachers.name }}</h3>
            <p>{{ teachers.mobile }}</p>
          </div>
          <div class="icon" style="display:block;">
            <i class="fas fa-chalkboard-teacher"></i>
          </div>
          <a href="{% url 'teachers:profile' teachers.uuid %}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      {% endfor %}
      {% endwith %}
    </div>
  <div class="row">
    <div class="col-lg-6 col-12">
      <!-- small box -->
      <div class="small-box bg-gradient-warning">
        <div class="inner">
          <h3 class="count">{{ courses }}</h3>
          <p>Total Courses</p>
        </div>
        <div class="icon" style="display:block;">
            <i class="fas fa-book"></i>
          </div>
        <p class="small-box-footer"> <i class="fa fa-puzzle-piece"></i></p>
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <!-- small box -->
      <div class="small-box" style="background-color: #7fc9fb; color: #005ebf">
        <div class="inner">
          {% for i in sub_class %}
          <h3>{{ i.class_name__class_name }}</h3>
          <p>{{ i.sub_class }}</p>
          {% endfor %}
        </div>
        <div class="icon" style="display:block;">
            <i class="fas fa-university"></i>
        </div>
        <p class="small-box-footer"> <i class="fa fa-puzzle-piece"></i></p>
      </div>
    </div>
  </div>

<div class="row">
<div class="col-12 col-lg-8">
<div class="card">
  <div class="card-header"  style="background-color: #f8ceec; background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%)">
    <h3 class="card-title text-white"> <b> Latest Messages </b> </h3>
  </div>
  <div class="card-body bg-white">
      {% with articles=message %}
        {% if articles %}
          {% for article in articles %}
            <div class="col-md-12">
          <div class="card">
            <div class="card-header" {% if article.private == True %} style="background-color: #ffac81; background-image: linear-gradient(315deg, #ffac81 0%, #ff928b 74%); color: white" {% else %} style="background-color: #5de6de; background-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%); color: white" {% endif %}>
              <h3 class="card-title"> {{ article.title }} <span class="text-muted"><small> sent by {{ article.teacher.name }} | {{ article.updated_at }} </small> </span></h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool text-white" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                <button type="button" class="btn btn-tool text-white" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                <button type="button" class="btn btn-tool text-white" data-card-widget="remove"><i class="fas fa-times"></i></button>
              </div>
              <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body" style="background-color: #eff1f4">
              {{ article.message }}
            </div>
            <!-- /.card-body -->
          </div>
              <!-- /.card -->
        </div>
      <!-- /.col -->
          <br/>
          {% endfor %}
        {% else %}
          <p> There are no messages. </p>
        {% endif %}
      {% endwith %}
  </div>
</div>
</div>
<div class="col-12 col-lg-4">
  <div class="card" id="class-card" >
      <img class="card-img-top" src="{% static 'images/learning.png' %}"
           alt="Card image cap">
      <div class="card-body">
          {% for i in sub_class %}
            <h5 class="card-title text-bold colorbluesapphire">{{ i.class_name__class_name }}</h5>
            <p class="card-text text-gray" >{{ i.sub_class }}</p>
            <a href="{% url 'college_student' %}" class="btn bg-purple">Open classroom</a>
          {% endfor %}
      </div>
  </div>
</div>
</div>
{% endblock %}
