{% extends 'base/base.html' %}
{% block title %} Delete Student {% endblock title %}
{% load static %}

{% block content %}
<div class="card">
      <div class="card-body login-card-body">
        <h5 class="login-box-msg">Delete</h5>
          <form method="post" action="">
            {% csrf_token %}
            <p> Are you sure you want to delete <b>{{ students.studentmodel.name }}</b>. If you delete {{ students.studentmodel.name }} all <b>data and records of this student will be removed.</b></p>
            <button class="btn btn-danger btn-block" type="submit">Confirm</button>
          </form>
      </div>
</div>
{% endblock %}
