{% extends 'base/base.html' %}
{% block title %} Student List {% endblock title %}

{% block content %}
  <div class="animated fadeIn">
      <div class="card">
          <div class="card-header" style="background-color: #f8ceec; background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%)">
            <h3 class="card-title text-white"> Students In Class </h3> <div class="card-tools text-white"><i class="fa fa-edit"></i></div>
          </div>
        {% with students=students %}
          {% if students %}
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap table-striped table-bordered">
                <thead>
                    <tr class="text-gray-dark">
                        <th>Id</th>
                        <th>Name</th>
                        <th>Class</th>
                        <th>Sub class</th>
                        <th>Profile</th>
                    </tr>
                </thead>
                <tbody>
                  {% for students in students %}
                      <tr class="text-gray">
                          <td>{{ forloop.counter }}</td>
                          <td>{{ students.name }}</td>
                          <td>{{ students.class_name.class_name }}</td>
                          <td>{{ students.sub_class.sub_class }}</td>
                          <td>
                              <a class="btn" style="background-color: #00da5f; color: white" href="{% url 'students:profile' students.uuid %}">
                                  <i class="fa fa-search-plus"></i>
                              </a>
                          </td>
                      </tr>
                  {% endfor %}
                </tbody>
            </table>
          </div>
          {% else %}
          <div class="card-body">
              <h3>No Student Found</h3>
          </div>
          {% endif %}
        {% endwith %}
      </div>
  </div>
{% endblock %}
