{% extends 'base/base.html' %}
{% block title %} Student Profile {% endblock title %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <div class="row">
        <img style="height:200px; width:200px; border-radius:50%; margin:auto" src="{{ student.studentmodel.get_photo_url }}" alt="Photo">
      </div>
    </div>
    <div class="card-body">
      <div class="personal_information">
        <div class="row">
          <h2 class="mx-auto">Student Information</h2>
        </div>
        <hr>
        <div class="row">
          <div class="mx-auto">
            <div style="font-size:24px; margin-left: 30px">
              <p>Name                          : <span class="mx-4">{{ student.studentmodel.name }}</span></p>
              <p>Class                         : <span class="mx-4">{{ student.studentmodel.class_name }}</span></p>
              <p>Sub-class                     : <span class="mx-4">{{ student.studentmodel.sub_class.sub_class }}</span></p>
              {% if user.studentmodel == student.studentmodel %}
              <p>Date of Birth                 : <span class="mx-4">{{ student.studentmodel.date_of_birth }}</span></p>
              <p>Emergency Mobile No           : <span class="mx-4">{{ student.studentmodel.emergency_mobile_number }}</span></p>
              <p>Address                       : <span class="mx-4">{{ student.studentmodel.address }}</span></p>
              <p>Email                         : <span class="mx-4">{{ student.studentmodel.email }}</span></p>
              {% endif %}
              {% if user.is_teacher or user.is_admin %}
              <p>Father's Name                 : <span class="mx-4">{{ student.studentmodel.fathers_name }}</span></p>
              <p>Mother's Name                 : <span class="mx-4">{{ student.studentmodel.mothers_name }}</span></p>
              <p>Date of Birth                 : <span class="mx-4">{{ student.studentmodel.date_of_birth }}</span></p>
              <p>Emergency Mobile No           : <span class="mx-4">{{ student.studentmodel.emergency_mobile_number }}</span></p>
              {% endif %}
              {% if user.is_admin %}
              <p>Address                       : <span class="mx-4">{{ student.studentmodel.address }}</span></p>
              <p>Email                         : <span class="mx-4">{{ student.email }}</span></p>
              {% endif %}
              <p>Student Model Added By      : <span class="mx-4">{% if student.studentmodel.created_by.is_admin %} {{ student.studentmodel.created_by }} {% elif student.studentmodel.created_by.is_teacher %} {{ student.studentmodel.created_by.teachermodel.name }} {% else %}  {{ student.studentmodel.created_by.studentmodel.name }} {% endif %}</span></p>
              <p>Updated By                    : <span class="mx-4">{% if student.studentmodel.updated_by.is_admin %} {{ student.studentmodel.updated_by }} {% elif student.studentmodel.updated_by.is_teacher %} {{ student.studentmodel.updated_by.teachermodel.name }} {% else %}  {{ student.studentmodel.updated_by.studentmodel.name }} {% endif %}</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
