{% extends 'base/base.html' %}
{% block title %} Message {% endblock title %}

{% block content %}
{% if messages %}
   <div class="form-group">
     <div class="col-12">
       {% for message in messages %}
       {% if message.tags == "error" %}
           <div class="alert alert-default-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
           {{ message }}
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
           </button>
           </div>
       {% elif message.tags == "success" %}
           <div class="alert alert-default-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
           {{ message }}
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
           </button>
           </div>
       {% endif %}
       {% endfor %}
     </div>
   </div>
{% endif %}
{% if message %}
{% with articles=message %}
<div class="row">
{% for article in articles %}
  <div class="col-md-6">
    <div class="card {% if article.private == True %} card-danger {% else %} card-success {% endif %} collapsed-card">
      <div class="card-header">
        <h3 class="card-title"> {{ article.title }} <span class="text-gray"><small> sent by {{ article.teacher.name }} to {{ article.student.name }} | {{ article.updated_at }} </small> </span></h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
        </div>
        <!-- /.card-tools -->
      </div>
      <!-- /.card-header -->
      <div class="card-body bg-navy">
        {{ article.message }}
      </div>
      <!-- /.card-body -->
      {% if request.user.is_teacher %}
      <div class="card-footer bg-navy">
        <span class="d-flex justify-content-lg-end">
          <span class="mx-3"><a style="color:white" href="{% url 'teachers:message_update' article.slug %}?next={{ request.path|urlencode }}">Edit</a> </span>
          |
          <span class="mx-2"><a style="color:white" href="{% url 'teachers:message_delete' article.slug %}?next={{ request.path|urlencode }}">Delete</a></span>
        </span>
      </div>
      {% endif %}
    </div>
        <!-- /.card -->
  </div>
<!-- /.col -->
    <br/>
{% endfor %}
</div>
{% endwith %}
{% else %}
<p> There are no messages. </p>
{% endif %}
{% endblock %}
