<div class="card">
    <div class="card-header" style="background-color: #5de6de; background-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%); color: white">
      <h3 class="card-title">Comments</h3>
    </div>
    {% if result %}
    <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap table-striped table-bordered">
            <thead>
                <tr class="text-gray-dark">
                    <th>Name</th>
                    <th>Teacher's comment</th>
                    <th>Session </th>
                </tr>
            </thead>
            <tbody>
              {% for results in result %}
                {% if results.teachers_comment %}
                  <tr class="text-gray">
                      <td>{{ results.student.name }}</td>
                      <td>{{ results.teachers_comment }}</td>
                      <td>{{ results.session }}</td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="card-body">
        <h3>No comment found</h3>
    </div>
    {% endif %}
</div>
