<div class="card">
    <div class="card-header bg-navy">
      <h3 class="card-title">Comments</h3>
    </div>
    <div class="card-header table-responsive bg-navy">
        <table class="table text-nowrap table-bordered">
            <thead>
                <tr role="row">
                    <th>Help</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>swap the session in the form above to view comments of each session</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% if result %}
    <div class="card-body table-responsive bg-primary p-0">
        <table class="table table-hover text-nowrap table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Teacher's comment</th>
                    <th>Session </th>
                </tr>
            </thead>
            <tbody>
              {% for results in result %}
                {% if results.teachers_comment %}
                  <tr>
                      <td>{{ results.student.name }}</td>
                      <td>{{ results.teachers_comment }}</td>
                      <td>{{ results.session }}</td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="card-body">
        <h3>No comment found</h3>
    </div>
    {% endif %}
</div>
