{% if request.user.is_admin and student %}
   {% for students in student %}
       <tr class="text-gray">
           <td>{{ forloop.counter }}</td>
           <td>{{ students.name }}</td>
           <td>{{ students.class_name }}</td>
           <td>{{ students.sub_class.sub_class }}</td>
           <td>
               <a class="btn" style="background-color: #00da5f; color: white" href="{% url 'students:profile' students.uuid %}">
                   <i class="fa fa-search-plus"></i>
               </a>
           </td>
            <td>
               <a class="btn" style="background-color: #7fc9fb; color: white" href="{% url 'students:update' students.uuid %}">
                   <i class="fa fa-edit"></i>
               </a>
            </td>
            <td>
               <a class="btn" style="background-color: #ff0080; color: white" href="{% url 'students:delete' students.uuid %}">
                   <i class="fa fa-trash"></i>
               </a>
            </td>
            <td>
                {% csrf_token %}
                  <div class="form-group">
                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                      <input type='checkbox' {% if students.paid == True %} checked {% else %} {% endif %} name='{{ students.name }}' class='custom-control-input' id="{{ students.pk }}"/>
                      <label class="custom-control-label" for="{{ students.pk }}"> Have Paid? </label>
                    </div>
                  </div>
            </td>
       </tr>
   {% endfor %}
{% else %}
  <tr>
    <td colspan="9"> No student found </td>
  </tr>
{% endif %}
{% block script %}
<script>
  $(document).ready(function () {
    {# To send a request back to the backend for appopriate changing of the status of field Paid #}
    $("input[type='checkbox']").change(function () {
      let value = '';
      ($(this).is(":checked")) ? value = "True" : value = "False" ;
      let name = $(this).attr("name");
      let primary_key = $(this).attr("id")
      $.ajax({
        method: 'POST',
        headers: {
          'X-CSRFToken': $("input[name='csrfmiddlewaretoken']").val(),
        },
        url: "{% url 'students:payment' %}",
        data: {
          'name': name,
          'value': value,
          'primary_key': primary_key,
        },
        success: function (data) {
          $("#messages").html(data);
        }
      });
    });
  });
</script>
{% endblock script %}
