{% extends 'college/college_base.html' %}
{% load static %}
{% block title %}
{% if request.user.student %}
    Student: {{ request.user.student.college.college_name|slice:':20' }}
{% elif request.user.teacher %}
    Student: {{ request.user.teacher.college.college_name|slice:':20' }}
{% endif %}
{% endblock title %}
{% block teacher-content %}
    <main role="main" class="container-md">
        <div class="text-center">
          <img src="{% static 'images/classroom/assignments.png' %}" class="img-fluid"
            alt="Photo of stacked books">
        </div>
        <br>
        <div class="float-left">
            <button type="button" class="btn btn-warning" onclick="window.history.back();">
                < Go back
            </button>
        </div>
        <br><br>
        <br><br>

    <div class="table-responsive-md">
        <!-- SEARCH FORM -->
        <form class="form-inline my-2" >
          <div class="form-group">
            <input class="form-control" id="assignments-list-search" name="q" type="search" placeholder="Search" aria-label="Search">
          </div>
        </form>
            <table class="table table-hover text-nowrap table-striped table-bordered" id="assignments-table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Student Name</th>
                    <th class="name-col" scope="col">Post Title</th>
                    <th scope="col">Submitted On</th>
                    <th scope="col">File</th>
                    <th scope="col">Mail Reply</th>
                </tr>
                </thead>
                <tbody>
                {% for assignment_solution in assignment_solutions %}
                    <tr class="text-gray">
                        <td>{{ assignment_solution.student.name | capfirst }}</td>
                        <td>{{ assignment_solution.post.title | capfirst }}</td>
                        <td>{{ assignment_solution.date }}</td>
                        <td>
                            <a class="btn file-download" style="background-color: #1fd1f9; color: white" href="{{ assignment_solution.get_media_url }}" download>
                                   DOWNLOAD
                            </a>
                        </td>
                        <td>
                            <a class="btn mail-reply" style="background-color: #b621fe; color: white" href="mailto:{{ assignment_solution.student.email }}?subject=Regarding Assignment: [{{ assignment_solution.post.title }}&body=Dear {{ assignment_solution.student.name }}],">
                                   REPLY
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

{% endblock teacher-content %}

{% block college-teacher-script %}
    <script type="text/javascript" src="{% static 'js/teacher_view_submissions.js' %}"></script>
{% endblock college-teacher-script %}
