<head>
  <title> Teacher List </title>
</head>
{% extends 'base/base.html' %}
{% load static %}

{% block content %}
  <div class="animated fadeIn">
      <div class="card">
          <div class="card-header">
              <i class="fa fa-edit"></i> Teacher Tables
          </div>
        {% with teacher=teachers %}
          {% if teacher %}
          <div class="card-body">
              <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                  <div class="row">
                      <div class="col-sm-12">
                          <table class="table table-striped table-responsive table-bordered datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="border-collapse: collapse !important">
                              <thead>
                                  <tr role="row">
                                      <th>Id</th>
                                      <th>Name</th>
                                      <th>Class</th>
                                      <th>Sub-class</th>
                                      <th>Mobile number</th>
                                      <th>Actions</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  {% for teach in teacher %}
                                    <tr role="row" class="odd">
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ teach.teachermodel.name }}</td>
                                        <td>{{ teach.teachermodel.class_name }}</td>
                                      {% if request.user.is_admin %}
                                        <td>{{ teach.teachermodel.sub_class }}</td>
                                      {% else %}
                                        <td>{{ teach.teachermodel.sub_class.sub_class }}</td>
                                      {% endif %}
                                        <td>{{ teach.teachermodel.mobile }}</td>
                                        <td>
                                            <a class="btn btn-success" href="{% url 'teachers:profile' teach.uuid %}">
                                                <i class="fa fa-search-plus"></i>
                                            </a>
                                          {% if request.user.is_admin %}
                                            <a class="btn btn-info" href="{% url 'teachers:admin_update' teach.uuid %}">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a class="btn btn-danger" href="{% url 'teachers:delete' teach.uuid %}">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                          {% endif %}
                                        </td>
                                    </tr>
                                  {% endfor %}
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          {% else %}
          <div class="card-body">
              <h3>No Student Found</h3>
          </div>
          {% endif %}
        {% endwith %}
      </div>
  </div>
{% endblock %}
