{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Teacher {% endblock %}

{% block content %}
  <h1> Teacher </h1>
  <form class="form-horizontal" enctype="multipart/form-data" method="post" action="" id="TeacherRegistrationForm" data-subclass-url={% url 'teachers:load_subclass' %}>
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary my-5">Sign Up</button>
      </div>
    </div>
    <script src="{% static 'dist/vendors/js/jquery.min.js' %}"></script>
    <script>
        $("#id_class_name").change(function () {
          var url = $("#TeacherRegistrationForm").attr("data-subclass-url");
          var classId = $(this).val();

          $.ajax({
            url: url,
            data: {
              'class': classId
            },
            success: function (data) {
              $("#id_sub_class").html(data);
            }
          });

        });
    </script>
  </form>
{% endblock %}
