{% extends 'base/base.html' %}
{% block title %} Teacher Profile {% endblock title %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <div class="row">
        <img style="height:200px; width:200px; border-radius:50%; margin:auto" src="{{ teacher.photo.url }}" alt="Photo">
      </div>
    </div>
    <div class="card-body">
      <div class="personal_information">
        <div class="row">
          <h2 class="mx-auto">Teacher Information</h2>
        </div>
        <hr>
        <div class="row">
          <div class="mx-auto">
            <div style="font-size:24px; margin-left: 30px">
              <p>Name                    : <span class="mx-4">{{ teacher.name }}</span></p>
              <p>Class                   : <span class="mx-4">{{ teacher.class_name }}</span></p>
              <p>Sub-class               : <span class="mx-4">{{ teacher.sub_class.sub_class }}</span></p>
              <p>Mobile No               : <span class="mx-4">{{ teacher.mobile }}</span></p>
              <p>Joining Date            : <span class="mx-4">{{ teacher.joining_date }}</span></p>
              <p>Email                   : <span class="mx-4">{{ teacher.email }}</span></p>
              {% if user.teachermodel == teacher %}
              <p>Address                 : <span class="mx-4">{{ teacher.address }}</span></p>
              <p>Date of Birth           : <span class="mx-4">{{ teacher.date_of_birth }}</span></p>
              {% endif %}
              {% if user.is_admin %}
              <p>Address                 : <span class="mx-4">{{ teacher.address }}</span></p>
              <p>Date of Birth           : <span class="mx-4">{{ teacher.date_of_birth }}</span></p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
