{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Update {% endblock %}

{% load i18n %}


{% block content %}
{{ block.super }}
<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a> Update</a>
    </div>
    {% if messages %}
      <div class="form-group">
        <div class="col-12">
          {% for message in messages %}
          {% if message.tags == "error" %}
              <div class="alert alert-default-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              </div>
          {% elif message.tags == "success" %}
              <div class="alert alert-default-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <div class="img-circle img-fluid bg-purple" style="width:70px; margin:auto; margin-bottom:10px; padding:10px;">
          <span style="font-size: 2.5em; color:#89CFF0; " class="fas fa-graduation-cap"></span>
        </div>
         <p class="login-box-msg text-muted">{% trans 'Update.' %}</p>
         <form class="form-horizontal" enctype="multipart/form-data" method="post" action="" id="TeacherRegistrationForm" data-class-url={% url 'teachers:load_class' %} data-subclass-url={% url 'teachers:load_subclass' %}>
           {% csrf_token %}
           {{ form|crispy }}
           <div class="control-group">
             <div class="controls">
               <input type="hidden" name="next" value="{{ request.GET.next }}">
               <button type="submit" class="btn bg-purple my-5">Update</button>
               <a class="ml-3 ml-md-5" style="color: #fc5f1c" href="{% if user.is_admin %} {% url 'users:dash' %} {% else %} {% url 'teachers:dash' %} {% endif %}">Dashboard &#8954</a>
             </div>
           </div>
         </form>
      </div>
    </div>
  </div>
</body>
{% endblock %}
{% block javascript %}
{{ block.super }}
    <script>
        $("#id_section").change(function () {
          var url = $("#TeacherRegistrationForm").attr("data-class-url");
          var SectionId = $(this).val();

          $.ajax({
            url: url,
            data: {
              'section': SectionId
            },
            success: function (data) {
              $("#id_class_name").html(data);
            }
          });

        });

        $("#id_class_name").change(function () {
          var url = $("#TeacherRegistrationForm").attr("data-subclass-url");
          var classId = $(this).val();

          $.ajax({
            url: url,
            data: {
              'class': classId
            },
            success: function (data) {
              $("#id_sub_class").html(data);
            }
          });

        });
    </script>
{% endblock javascript %}
